
/* INDEX */

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
    display: flex;
    flex-direction: row;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
    padding: 10px;
}

header nav{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    flex-wrap: nowrap;
}
.flexIzquierda{
    justify-content: flex-start;
}

.flexDerecha{
    justify-content: flex-end;
}  

.flexDerecha li{
    margin-right: 20px;
}

.flexIzquierda li{
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.form{
    width: 50%;
    display: flex;
    height: 24px;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;

}

article div.main-article{
    width: 100%;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 3px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-15px;

}
main section h3{
    margin: 20px 0px
}
article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

#seccionUnoFooter{
    display: flex;
    align-self:flex-end;
    justify-content: space-between;
    padding: 25px;
}

#seccionUnoFooter div{
    display: flex;
    flex-direction: column;
}

#seccionUnoFooter div i{

    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    color: -webkit-link;
}

#seccionUnoFooter div h3{
    text-align: center;
    margin-bottom: 25px;
}

#seccionUnoFooter div p{
    text-align: center;
    margin-bottom: 25px;
}

footer h6{
    margin:0;
    text-align: center;
    font-weight: 400;
}
.camion{
    transform: rotateY(90);
    transition-duration: 1s;
}


/* MEDIA QUERIES */

@media screen and (min-width: 1024px){
    .divBurger{
        display: none;
    }
}


@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
} 


/* LOGIN */

.formulario{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    /* display:flex;
    flex-wrap: nowrap;
    flex-direction: column */
}
.formulario fieldset{
    border: none;
}
.espacio{
    margin-top: 20px;
}
.inputLogin{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px#ccc;
}
.inputLoginSend{
    width: 100%;
    padding: 8px;
    background-color: #b3afafc7;
    border-radius: 5px;
    border: solid 1px#ccc;
    color: #FFF;
    transition: all 0.5s;
    cursor: pointer;
}

.inputLoginSend:hover{
    background-color: #1a73e8;
    color: #FFF;
}


/* REGISTRO */

.register{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}
fieldset{
    border: none;
}

#formularioRegister{
    
}

.divRegister{
    margin-bottom: 25px;
}

.divRegister input{
    width: 100%;
}

.botonRegistro{
    width: 100%;
    padding: 8px;
    background-color: #b3afafc7;
    border-radius: 5px;
    border: solid 1px#ccc;
    color: #FFF;
    transition: all 0.5s;
    cursor: pointer;
}

.botonRegistro:hover{
    background-color: #9499a0;
    color: #FFF;
}